altgraph
beautifulsoup4
bs4
certifi
chardet
et-xmlfile
fake-useragent
future
idna
jdcal
numpy
openpyxl
pandas
pefile
python-dateutil
pytz
pywin32
pywin32-ctypes
requests
selenium
six
soupsieve
urllib3
